* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
  align-items: center;
	justify-content: center;
}

div.container {
	max-width: 500px;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.container section.tower {
	width: 3rem;
	height: 10rem;
	background-color: gray;
	position: relative;
	border-radius: 0 0 10px 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-end;
}

span.oval {
	position: absolute;
  width: 100%;
	height: 30%;

}

span.top-oval {
	background-color: gray;
	top: -15%; /*so we need this out position, since this is inside the cylinder tower*/
	border-radius: 70%;
}

/* the items */

section.tower > span.item {
	/* display: block; */
	/* position: absolute; */
	/* width: 4em; */
	/* margin-left: -0.5em; */
	height: 20px;
	background-color: blue;
	border-radius: 1vmin;
	bottom: 3%;
	z-index: 1;
	cursor: pointer;
}

.new-input {
	border-radius: 6px;
	outline: none;
}
